@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto Mono", monospace; */

}

body {
  overflow-x: hidden
}

:root {
  --off-white: #efeae3;
  --black: #0b0500;
  --sundown-orange: #fe330a;
  --orange: #ff9831;
  --roboto: "Roboto Mono", monospace;
}

/* Header(NAVBAR) CSS */

header {
  background-color: var(--off-white);
  padding: 1.5rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo img {
  height: 80px;
}

.navbar .menu a {
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 1.2rem;
  border: 1px solid rgba(128, 128, 128, 0.568);
  padding: 0.8rem 1rem;
  border-radius: 30px;
  color: var(--black);
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  color: black;

}

.navbar .menu a::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0b0500;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
  border-radius: 30px;
  border: none;
}

.navbar .menu a:hover {
  color: white;
}

.navbar .menu a:hover:after {
  transform: scaleY(1);
}

/* Header(NAVBAR) Ends CSS */

/* Banner CSS Starts */

.hero-container {
  background-color: #efeae3;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 10rem; */
  /* margin-bottom: 10rem; */
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.47);
}

.left h1 {
  width: 60vh;
  line-height: 0.8;
  font-weight: 700;
  font-size: 1.9rem;
}

.right h1 {
  font-size: 10rem;
  text-align: end;
  line-height: 0.8;
  font-weight: 700;
}

.video video {
  border-radius: 30px;
  margin-top: 4vw;
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: var(--off-white);
}

.background-animation {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.animation1 {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  top: -100px;
  border-radius: 50%;
  filter: blur(20px);
  background: linear-gradient(var(--orange), var(--sundown-orange));
  mix-blend-mode: normal;
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  from {
    transform: translate(20%, -10%);
  }

  to {
    transform: translate(40%, -20%)
  }
}

.animation2 {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  right: 100px;
  top: -120px;
  border-radius: 50%;
  filter: blur(20px);
  mix-blend-mode: normal;
  background: linear-gradient(var(--orange), var(--sundown-orange));
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


@keyframes anime2 {
  from {
    transform: translate(15%, -15%);
  }

  to {
    transform: translate(10%, 5%)
  }
}


.animation3 {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  right: 250px;
  top: -150px;
  border-radius: 50%;
  filter: blur(20px);
  mix-blend-mode: normal;
  background: linear-gradient(var(--orange), var(--sundown-orange));
  animation-name: anime3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes anime3 {
  from {
    transform: translate(5%, -5%);
  }

  to {
    transform: translate(10%, 10%);
  }
}

/* Banner CSS End */
#page-2 {
  background-color: #efeae3;
  height: 40vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;

}

.moving-text {
  content: '';
  position: absolute;
  display: flex;
}

.move-content {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  flex-wrap: nowrap;
  position: relative;
  animation: move-text 10s linear infinite;
}

.move-content h1 {
  font-size: 7rem;
  text-transform: uppercase;
}

.gola {
  width: 70px;
  height: 70px;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #fe330a;
  border-radius: 50%;
}

@keyframes move-text {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-100%);
  }
}